body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

nav {
    background-color: #444;
    padding: 10px;
}

nav a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}

.eigenschaften {
    background-color: rgb(158, 27, 27);
    font-size: larger;
}

.anwendung {
    background-color: rgb(158, 27, 27);
    font-size: larger;
}

.bestellen {
    background-color: rgb(158, 27, 27);
    font-size: larger;
}

.alleButtons {
    display: flex;
    font-size: larger;
}

.bestellenButton {
    background-color: orange;
    font-family: fantasy;
    font-size: large;
    top: 500px;
    left: 500px;
    border-left: 1000px;
}

.ob {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    max-width: 1500px;
    font-size: x-large;
}

.ob img {
    margin-right: 10px;

}

.ueberschrift {
    font-size: larger;
}

.keineAhnung {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: x-large;
}

.keineAhnung img {
    align-self: flex-start;
    margin-top: 20px
}

.keinPlan {
    align-items: center;
    max-width: 1500px;
    font-size: x-large;
}