body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

nav {
    background-color: #444;
    padding: 10px;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: flex;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}

.eigenschaften {
    background-color: greenyellow;
}

.anwendung {
    background-color: greenyellow;
}

.bestellen {
    background-color: greenyellow;
}

.bestellenButton {
    background-color: chocolate;
    padding: 30px 40px;
    font-family: fantasy;
    font-size: 100px;
}